{% extends 'base.html' %}
{% load static %}
{% block title %}Resst User Password{% endblock title %}
{% block content %}

<section class="bg-light py-5">
  {% include 'components/_alerts.html' %}
  <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <br><br><br><br>
          <div class="ps-form__content card p-5">
            <h3 class="card-title">Forget Password</h3>
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <br>
                {{form.email}}
                <br>
                <input type="submit" value="SEND ME RESET LINK" class="ps-btn ps-btn--fullwidth">
              </form>
            </div>
          </div>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </section>

{% endblock %}