{% extends 'base.html' %}

{% block title %}Reset Password link sent{% endblock title %}

{% block content %}

<section class="bg-light py-5">
  {% include 'components/_alerts.html' %}
  <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <br><br><br><br>
          <div class="ps-form__content card p-5">
            <div class="card-body">
                <h3 class="card-title">Password reset mail sent</h3>
                <p class="card-text">We've emailed you instructions for setting your password, if an account exists
                    with the email you entered.
                    You should receive them shortly.</p>
                <p class="card-text"> If you don't receive an email, please make sure you've entered the address you
                    registered with,
                    and check your spam folder.</p>
            </div>
          </div>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}