{% extends 'base.html' %}

{% load static %}
{% block title %}Reset Password done{% endblock title %}
{% block content %}
<section class="bg-light py-5">
  {% include 'components/_alerts.html' %}
  <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <br><br><br><br>
          <div class="ps-form__content card p-5">
            <div class="card-body">
                <h3 class="card-title">Password Reset successfully</h3>
                <p class="card-text">Your password is reset successfully. <a href="{% url 'login' %}">Click Here</a> to login.</p>
                
            </div>
          </div>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}